@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;

  .project-page-wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .main-image {
    width: 800px;
    border-radius: 1rem;
  }
}

@media (max-width: 440px) {
  .project-page {
    .project-page-wrapper {
      max-width: 100%;
    }
    .main-image {
      width: 100%;
    }
  }
}
