@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: itemScaleUP 0.5s ease-out 0.5s forwards;
  display: flex;
  width: 70%;
  gap: 1rem;
  .left-part {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 0.6rem;
    flex: 1;
    .desktop-desc {
      width: 500px;
      display: block;
    }
    .mobile-desc {
      display: none;
    }
  }
  .form-container {
    flex: 1;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      gap: 16px;
      .input-container {
        border: 2px solid black;
        width: 100%;
        background-color: white;
        position: relative;
        border-radius: 8px;
        overflow: hidden;

        input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: transparent;
          padding: 12px 16px;
          &:focus {
            outline: transparent;
          }
        }
        textarea {
          width: 100%;
          height: 150px;
          background: transparent;
          border: transparent;
          padding: 12px 16px;
        }
      }
      .button-container {
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        overflow: hidden;
        color: white;
        button {
          width: 100%;
          height: 100%;
          background-color: transparent;
          padding: 16px;
          border: transparent;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
    .left-part {
      display: flex;
      justify-content: center;
      .mobile-desc {
        display: block;
      }
      .desktop-desc {
        display: none;
      }
    }
    .form-container {
      width: 100%;
      form {
        width: 100%;
      }
    }
  }
}

@keyframes itemScaleUP {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
